
<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>admin project</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/admin.css'%}" rel="stylesheet" >
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">管理</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:8000/admin_page/log_out">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li {% if upload_projects %}class="active"{% endif %}><a href="{% url 'admin_page:upload_projects' %}">审核上传项目 <span class="sr-only">(current)</span></a></li>
            <li {% if manage_projects %}class="active"{% endif %}><a href="{% url 'admin_page:manage_projects' %}">管理项目</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h1 class="sub-header">项目名称</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>项目名称</th>
                  <th>作者</th>
                  <th>打开</th>
                  {% if upload_projects %}<th>添加</th>{% endif %}
                  <th>删除</th>
                </tr>
              </thead>
              <tbody>
                {% for project in Projects %}
                <tr>
                  <td>{{ project.title }}</td>
                  <td>{{ project.user }}</td>
                  <td><a href="{{ project.index_path }}"><img src="{% static 'icons/icons/play-btn.svg' %}" alt="open" width="16" height="16"> open</a></td>
                  {% if upload_projects %}<td><a href="{% url 'admin_page:add' %}?title={{ project.title }}"><img src="{% static 'icons/icons/plus-circle.svg' %}" alt="add" width="16" height="16" herf=""> add</a></td>{% endif %}
                  <td><a a href="#" onclick="delete_project('{% url 'admin_page:delete' %}', '{{ project.title }}')"><img src="{% static 'icons/icons/x-circle.svg'%}" alt="delete" width="16" height="16"> delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <button class="btn btn-info btn-lg" id="delete_btn" data-toggle="modal" data-target="#myModal"></button>
    <!-- modal, use to add delete reason, wait to be added -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Reason</h4><!--title-->
                </div>
                <div class="modal-body"><!--modal-body-->
                    <textarea id="reason" class="form-control" rows="3"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" id="comment_button" class="btn btn-primary">delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel</button><!--弹窗的尾部-->
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <!-- <script src="../../assets/js/vendor/holder.min.js"></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'assets/dist/js/bootstrap.js' %}"></script>
    
    <script src="{% static 'js/admin.js' %}"></script>
  </body>
</html>
